{% extends 'layouts/app.html' %}

{% block content %}

    <section class="contact-us-section layout-radius">
        <div class="boxcar-container">
            <!-- boxcar-title -->
            <div class="boxcar-title-three wow fadeInUp">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'base:home' %}">Home</a>
                    </li>
                    <li>
                        <span>
                            Hotel Rooms
                        </span>
                    </li>
                </ul>
                <h2>Hotel Rooms</h2>
            </div>
        </div>
    </section>

{% endblock content %}