{% extends 'layouts/main.html' %}
{% load humanize %}
{% block content %}

    {% include 'components/hero.html' %}

    <section class="cars-section-three">
        <div class="boxcar-container">
            <div class="boxcar-title wow fadeInUp">
                <h2>
                    Explore All Hotels
                </h2>
                <a href="{% url 'hotel:getHotels' %}" class="btn-title">
                    View All
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14" fill="none">
                        <g clip-path="url(#clip0_601_243)">
                            <path d="M13.6109 0H5.05533C4.84037 0 4.66643 0.173943 4.66643 0.388901C4.66643 0.603859 4.84037 0.777802 5.05533 0.777802H12.6721L0.113697 13.3362C-0.0382246 13.4881 -0.0382246 13.7342 0.113697 13.8861C0.18964 13.962 0.289171 14 0.388666 14C0.488161 14 0.587656 13.962 0.663635 13.8861L13.222 1.3277V8.94447C13.222 9.15943 13.3959 9.33337 13.6109 9.33337C13.8259 9.33337 13.9998 9.15943 13.9998 8.94447V0.388901C13.9998 0.173943 13.8258 0 13.6109 0Z" fill="#050B20"></path>
                        </g>
                        <defs>
                            <clippath id="clip0_601_243">
                                <rect width="14" height="14" fill="white"></rect>
                            </clippath>
                        </defs>
                    </svg>
                </a>
            </div>
        </div>
        <div class="tab-content wow fadeInUp" data-wow-delay="200ms" id="nav-tabContent">
            <div class="tab-pane fade show active" id="kigali-city" role="tabpanel" aria-labelledby="kigali-city-tab">
                <div class="row car-slider-three slider-layout-1" data-preview="4.8">
                    {% for hotel in hotels %}
                        <div class="box-car car-block-three col-lg-3 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="slider-thumb">
                                        {% with hotel.images.all|slice:":3" as hotel_images %}
                                            {% if hotel_images %}
                                                {% for image in hotel_images %}
                                                    <div class="image">
                                                        <a href="{% url 'hotel:hotelRooms' hotel.id %}">
                                                            <img src="{{ image.image.url }}" alt="{{ hotel.name }}">
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                <div class="image">
                                                    <a href="#">
                                                        <img src=https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVQfxEyRp184pVTen_MQe-LEqhLZxhWAWj9A&s" alt="Default Hotel">
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <span>
                                        {{ hotel.stars }} Stars
                                    </span>
                                    <span>
                                        {{ hotel.stars }} Stars
                                    </span>
                                </div>
                                <div class="content-box">
                                    <h6 class="title">
                                        <a href="{% url 'hotel:hotelRooms' hotel.id %}" style="font-size: 14px;">
                                            {{ hotel.name }}
                                        </a>
                                    </h6>
                                    <div class="btn-box">
                                        <span>Reviews</span>
                                        <small>{{ hotel.reviews.all|length }}</small>
                                        <a href="{% url 'hotel:hotelRooms' hotel.id %}" class="details">
                                            View Details
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                                <g clip-path="url(#clip0_601_4346)">
                                                    <path d="M13.6109 0H5.05533C4.84037 0 4.66643 0.173943 4.66643 0.388901C4.66643 0.603859 4.84037 0.777802 5.05533 0.777802H12.6721L0.113697 13.3362C-0.0382246 13.4881 -0.0382246 13.7342 0.113697 13.8861C0.18964 13.962 0.289171 14 0.388666 14C0.488161 14 0.587656 13.962 0.663635 13.8861L13.222 1.3277V8.94447C13.222 9.15943 13.3959 9.33337 13.6109 9.33337C13.8259 9.33337 13.9998 9.15943 13.9998 8.94447V0.388901C13.9998 0.173943 13.8258 0 13.6109 0Z" fill="#405FF2"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_601_4346">
                                                        <rect width="14" height="14" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12 text-center py-5">
                            <h5>No hotels currently available.</h5>
                            <p>Please check back later. New listings are added regularly.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="cars-section-three">
        <div class="boxcar-container">
            <div class="boxcar-title wow fadeInUp">
                <h2>
                    Explore Highly Rated Rooms
                </h2>
                <a href="{% url 'hotel:getHotels' %}" class="btn-title">
                    View All Hotels
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <g clip-path="url(#clip0_601_243)">
                            <path d="M13.6109 0H5.05533C4.84037 0 4.66643 0.173943 4.66643 0.388901C4.66643 0.603859 4.84037 0.777802 5.05533 0.777802H12.6721L0.113697 13.3362C-0.0382246 13.4881 -0.0382246 13.7342 0.113697 13.8861C0.18964 13.962 0.289171 14 0.388666 14C0.488161 14 0.587656 13.962 0.663635 13.8861L13.222 1.3277V8.94447C13.222 9.15943 13.3959 9.33337 13.6109 9.33337C13.8259 9.33337 13.9998 9.15943 13.9998 8.94447V0.388901C13.9998 0.173943 13.8258 0 13.6109 0Z" fill="#050B20"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_601_243">
                                <rect width="14" height="14" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </div>

            <div class="tab-content wow fadeInUp" data-wow-delay="200ms">
                <div class="row car-slider-three slider-layout-1" data-preview="4.8">
                    {% for room in rooms %}
                        <div class="box-car car-block-three col-lg-3 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="slider-thumb">
                                        {% with room.images.all|first as room_image %}
                                            {% if room_image %}
                                                <div class="image">
                                                    <a href="{% url 'hotel:roomDetails' room.hotel.id room.id %}">
                                                        <img src="{{ room_image.image.url }}" alt="{{ room.name }}">
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVQfxEyRp184pVTen_MQe-LEqhLZxhWAWj9A&s" alt="Default Room">
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <span>
                                        {{ room.room_type|title }}
                                    </span>
                                </div>
                                <div class="content-box">
                                    <h6 class="title">
                                        <a href="{% url 'hotel:roomDetails' room.hotel.id room.id %}" style="font-size: 14px;">
                                            {{ room.name }}
                                        </a>
                                    </h6>
                                    <div class="btn-box">
                                        <span>Price/Night</span>
                                        <small>${{ room.price_per_night }}</small>
                                        <a href="{% url 'hotel:roomDetails' room.hotel.id room.id %}" class="details">
                                            View Details
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                                <g clip-path="url(#clip0_601_4346)">
                                                    <path d="M13.6109 0H5.05533C4.84037 0 4.66643 0.173943 4.66643 0.388901C4.66643 0.603859 4.84037 0.777802 5.05533 0.777802H12.6721L0.113697 13.3362C-0.0382246 13.4881 -0.0382246 13.7342 0.113697 13.8861C0.18964 13.962 0.289171 14 0.388666 14C0.488161 14 0.587656 13.962 0.663635 13.8861L13.222 1.3277V8.94447C13.222 9.15943 13.3959 9.33337 13.6109 9.33337C13.8259 9.33337 13.9998 9.15943 13.9998 8.94447V0.388901C13.9998 0.173943 13.8258 0 13.6109 0Z" fill="#405FF2"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_601_4346">
                                                        <rect width="14" height="14" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12 text-center py-5">
                            <h5>No hotel rooms currently available.</h5>
                            <p>Please check back later. More rooms will be listed soon.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="cars-section-three">
        <div class="boxcar-container">
            <div class="boxcar-title wow fadeInUp">
                <h2>
                    Best Luxury Rooms
                </h2>
                <a href="{% url 'hotel:getHotels' %}" class="btn-title">
                    View All
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                        <g clip-path="url(#clip0_601_243)">
                            <path d="M13.6109 0H5.05533C4.84037 0 4.66643 0.173943 4.66643 0.388901C4.66643 0.603859 4.84037 0.777802 5.05533 0.777802H12.6721L0.113697 13.3362C-0.0382246 13.4881 -0.0382246 13.7342 0.113697 13.8861C0.18964 13.962 0.289171 14 0.388666 14C0.488161 14 0.587656 13.962 0.663635 13.8861L13.222 1.3277V8.94447C13.222 9.15943 13.3959 9.33337 13.6109 9.33337C13.8259 9.33337 13.9998 9.15943 13.9998 8.94447V0.388901C13.9998 0.173943 13.8258 0 13.6109 0Z" fill="#050B20"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_601_243">
                                <rect width="14" height="14" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </div>

            <div class="tab-content wow fadeInUp" data-wow-delay="200ms">
                <div class="row car-slider-three slider-layout-1" data-preview="4.8">
                    {% for room in best_rooms %}
                        <div class="box-car car-block-three col-lg-3 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <div class="slider-thumb">
                                        {% with room.images.all|first as room_image %}
                                            {% if room_image %}
                                                <div class="image">
                                                    <a href="{% url 'hotel:roomDetails' room.hotel.id room.id %}">
                                                        <img src="{{ room_image.image.url }}" alt="{{ room.name }}">
                                                    </a>
                                                </div>
                                            {% else %}
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVQfxEyRp184pVTen_MQe-LEqhLZxhWAWj9A&s" alt="Default Room">
                                                    </a>
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                    </div>
                                    <span>
                                        {{ room.room_type|title }}
                                    </span>
                                </div>
                                <div class="content-box">
                                    <h6 class="title">
                                        <a href="{% url 'hotel:roomDetails' room.hotel.id room.id %}" style="font-size: 14px;">
                                            {{ room.name }}
                                        </a>
                                    </h6>
                                    <div class="btn-box">
                                        <span>Luxury Rate</span>
                                        <small>${{ room.price_per_night }}</small>
                                        <a href="{% url 'hotel:roomDetails' room.hotel.id room.id %}" class="details">
                                            View Details
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                                <g clip-path="url(#clip0_601_4346)">
                                                    <path d="M13.6109 0H5.05533C4.84037 0 4.66643 0.173943 4.66643 0.388901C4.66643 0.603859 4.84037 0.777802 5.05533 0.777802H12.6721L0.113697 13.3362C-0.0382246 13.4881 -0.0382246 13.7342 0.113697 13.8861C0.18964 13.962 0.289171 14 0.388666 14C0.488161 14 0.587656 13.962 0.663635 13.8861L13.222 1.3277V8.94447C13.222 9.15943 13.3959 9.33337 13.6109 9.33337C13.8259 9.33337 13.9998 9.15943 13.9998 8.94447V0.388901C13.9998 0.173943 13.8258 0 13.6109 0Z" fill="#405FF2"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_601_4346">
                                                        <rect width="14" height="14" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12 text-center py-5">
                            <h5>No luxury rooms found.</h5>
                            <p>Try checking again later.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="cars-section-two">
        <div class="boxcar-container">
            <div class="boxcar-title light wow fadeInUp">
                <h2>
                    Explore Cars
                </h2>
                <a href="{% url 'car:getCars' %}" class="btn-title">
                    View All
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14" fill="none">
                        <g clip-path="url(#clip0_601_675)">
                            <path d="M13.6109 0H5.05533C4.84037 0 4.66643 0.173943 4.66643 0.388901C4.66643 0.603859 4.84037 0.777802 5.05533 0.777802H12.6721L0.113697 13.3362C-0.0382246 13.4881 -0.0382246 13.7342 0.113697 13.8861C0.18964 13.962 0.289171 14 0.388666 14C0.488161 14 0.587656 13.962 0.663635 13.8861L13.222 1.3277V8.94447C13.222 9.15943 13.3959 9.33337 13.6109 9.33337C13.8259 9.33337 13.9998 9.15943 13.9998 8.94447V0.388901C13.9998 0.173943 13.8258 0 13.6109 0Z" fill="white"></path>
                        </g>
                        <defs>
                            <clippath id="clip0_601_675">
                                <rect width="14" height="14" fill="white"></rect>
                            </clippath>
                        </defs>
                    </svg>
                </a>
            </div>
        </div>
        <div class="tab-content wow fadeInUp" data-wow-delay="200ms" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home2" role="tabpanel" aria-labelledby="nav-home-tab2">
                <div class="row car-slider slider-layout-1" data-preview="2.3">
                    {% for car in cars %}
                        <div class="car-block-two col-lg-4 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image" style="width: 320px; height: 370px; overflow: hidden;">
                                        <a href="{% url 'car:carDetails' car.id %}">
                                            {% with car.images.all|first as img %}
                                                {% if img and img.image %}
                                                    <img src="{{ img.image.url }}" alt="{{ car.name }}"
                                                        style="height: 100%; width: 100%; object-fit: cover; display: block;">
                                                {% else %}
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVQfxEyRp184pVTen_MQe-LEqhLZxhWAWj9A&s"
                                                        alt="{{ car.name }}"
                                                        style="height: 100%; width: 100%; object-fit: cover; display: block;">
                                                {% endif %}
                                            {% endwith %}
                                        </a>
                                    </figure>
                                    {% comment %} <span>Low Mileage</span> {% endcomment %}
                                    <a class="icon-box">
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_2806_1274)">
                                                <path d="M9.39062 12C9.15156 12 8.91671 11.9312 8.71128 11.8009L6.11794 10.1543C6.04701 10.1091 5.95296 10.1096 5.88256 10.1543L3.28869 11.8009C2.8048 12.1082 2.13755 12.0368 1.72722 11.6454C1.47556 11.4047 1.33685 11.079 1.33685 10.728V1.2704C1.33738 0.570053 1.90743 0 2.60778 0H9.39272C10.0931 0 10.6631 0.570053 10.6631 1.2704V10.728C10.6631 11.4294 10.0925 12 9.39062 12ZM6.00025 9.06935C6.24193 9.06935 6.47783 9.13765 6.68169 9.26743L9.27503 10.9135C9.31233 10.9371 9.35069 10.9487 9.39114 10.9487C9.48046 10.9487 9.61286 10.8788 9.61286 10.728V1.2704C9.61233 1.14956 9.51356 1.05079 9.39272 1.05079H2.60778C2.48642 1.05079 2.38817 1.14956 2.38817 1.2704V10.728C2.38817 10.7911 2.41023 10.8436 2.45384 10.8851C2.52582 10.9539 2.63563 10.9708 2.72599 10.9135L5.31934 9.2669C5.52267 9.13765 5.75857 9.06935 6.00025 9.06935Z" fill="black"/>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_2806_1274">
                                                    <rect width="12" height="12" fill="white"/>
                                                </clipPath>
                                            </defs>
                                        </svg>
                                    </a>
                                </div>
                                <div class="content-box">
                                    <h6 class="title">
                                        <a href="{% url 'car:carDetails' car.id %}">
                                            {{ car.name }}
                                        </a>
                                    </h6>
                                    <div class="text">

                                    </div>
                                    <ul>
                                        <li>
                                            <i class="flaticon-gasoline-pump"></i>
                                            {{ car.mileage|intcomma }} km
                                        </li>
                                        <li>
                                            <i class="flaticon-speedometer"></i>
                                            {{ car.fuel_type|title }}
                                        </li>
                                        <li>
                                            <i class="flaticon-gearbox"></i>
                                            {{ car.transmission|title }}
                                        </li>
                                    </ul>
                                    <div class="btn-box">
                                        <span>Per Day</span>
                                        <small>${{ car.price_per_day }}</small>
                                        <a href="{% url 'car:carDetails' car.id %}" class="details">
                                            View Details
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                                <g clip-path="url(#clip0_601_4346)">
                                                    <path d="M13.6109 0H5.05533C4.84037 0 4.66643 0.173943 4.66643 0.388901C4.66643 0.603859 4.84037 0.777802 5.05533 0.777802H12.6721L0.113697 13.3362C-0.0382246 13.4881 -0.0382246 13.7342 0.113697 13.8861C0.18964 13.962 0.289171 14 0.388666 14C0.488161 14 0.587656 13.962 0.663635 13.8861L13.222 1.3277V8.94447C13.222 9.15943 13.3959 9.33337 13.6109 9.33337C13.8259 9.33337 13.9998 9.15943 13.9998 8.94447V0.388901C13.9998 0.173943 13.8258 0 13.6109 0Z" fill="#405FF2"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_601_4346">
                                                        <rect width="14" height="14" fill="white"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-12 text-center py-5">
                            <h5>No cars currently available.</h5>
                            <p>Please check back later. New listings are added regularly.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="blog-section-two section-radius-bottom bg-white">
        <div class="boxcar-container">
            <div class="row">
                <!-- blog-blockt-two -->
                <div class="blog-blockt-two col-lg-12 col-md-12 col-sm-12">
                    <div class="inner-box wow fadeInUp">
                        <h3 class="title">
                            Are You Looking <br>For a Car ?
                        </h3>
                        <div class="text">We are committed to providing our customers with exceptional service.</div>
                        <a href="#" class="read-more">
                            Get Started
                    
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14" fill="none">
                                <g clip-path="url(#clip0_601_692)">
                                    <path d="M13.6109 0H5.05533C4.84037 0 4.66643 0.173943 4.66643 0.388901C4.66643 0.603859 4.84037 0.777802 5.05533 0.777802H12.6721L0.113697 13.3362C-0.0382246 13.4881 -0.0382246 13.7342 0.113697 13.8861C0.18964 13.962 0.289171 14 0.388666 14C0.488161 14 0.587656 13.962 0.663635 13.8861L13.222 1.3277V8.94447C13.222 9.15943 13.3959 9.33337 13.6109 9.33337C13.8259 9.33337 13.9998 9.15943 13.9998 8.94447V0.388901C13.9998 0.173943 13.8258 0 13.6109 0Z" fill="white"></path>
                                </g>
                                <defs>
                                    <clippath id="clip0_601_692">
                                        <rect width="14" height="14" fill="white"></rect>
                                    </clippath>
                                </defs>
                            </svg>
                        </a>
                        <div class="hover-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="110" height="110" viewbox="0 0 110 110" fill="none">
                                <path d="M43.1686 14.8242C36.3829 14.8242 30.2324 18.8167 27.4699 25.0145L16.292 50.093C9.59105 50.5534 4.29688 56.1314 4.29688 62.9492V75.8398C4.29688 81.7725 9.10637 86.582 15.0391 86.582H17.9835C17.9994 85.7553 18.0204 84.9288 18.0469 84.1023C17.3476 82.6768 16.9533 81.0745 16.9533 79.3796L16.7578 71.7578C16.7578 66.1212 17.9046 60.9441 22.0885 60.1012C24.0773 59.7006 25.7424 58.3456 26.5573 56.4876L40.3605 25.0145C43.1228 18.8167 49.2733 14.8242 56.0592 14.8242H43.1686Z" fill="#CEE1F2"></path>
                                <path d="M94.9609 86.582C100.894 86.582 105.703 81.7725 105.703 75.8398V62.9492C105.703 55.8299 99.9318 50.0586 92.8125 50.0586L79.5736 24.2505C76.6474 18.4688 70.7184 14.8242 64.2383 14.8242H43.1686C36.3829 14.8242 30.2324 18.8167 27.4699 25.0145L16.292 50.093C9.59105 50.5534 4.29688 56.1314 4.29688 62.9492V75.8398C4.29688 81.7725 9.10637 86.582 15.0391 86.582" stroke="#405FF2" stroke-width="5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M38.0269 95.1758C42.7731 95.1758 46.6207 91.3282 46.6207 86.582C46.6207 81.8358 42.7731 77.9883 38.0269 77.9883C33.2807 77.9883 29.4332 81.8358 29.4332 86.582C29.4332 91.3282 33.2807 95.1758 38.0269 95.1758Z" stroke="#405FF2" stroke-width="5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M63.1641 86.582H49.8433" stroke="#405FF2" stroke-width="5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M71.9727 95.1758C76.7189 95.1758 80.5664 91.3282 80.5664 86.582C80.5664 81.8358 76.7189 77.9883 71.9727 77.9883C67.2265 77.9883 63.3789 81.8358 63.3789 86.582C63.3789 91.3282 67.2265 95.1758 71.9727 95.1758Z" stroke="#405FF2" stroke-width="5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M51.5608 66.8164L63.5304 55.2099C65.9362 52.8587 64.2729 48.7712 60.9101 48.7712H49.9475C46.5786 48.7712 44.9182 44.6705 47.3367 42.3234L59.7328 30.293" stroke="#FF5CF3" stroke-width="5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}