{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pluto Booking</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mmenu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" rel="shortcut icon" href="{% static 'images/logo-b.png' %}" type="image/x-icon">
    <link rel="stylesheet" rel="icon" href="{% static 'images/logo-b.png' %}" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=ioNHsVJY3Y8PLefA6HbmnkKrOKBYxSfr69SxEgENSjJKwy41-Gpk7nWKvqsW1dD8ju8bbeponoknF6BVXZfdrzFXH7nF8TrWR5BKtv1YsyY" charset="UTF-8"></script>
</head>
<body>

    {% include 'components/header-main.html' %}

    {% block content %}{% endblock content %}

    <div class="scroll-to-top scroll-to-target" data-target="html">
        <span class="fa fa-angle-up"></span>
    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/slick-animation.min.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/appear.js' %}"></script>
    <script src="{% static 'js/mixitup.js' %}"></script>
    <script src="{% static 'js/knob.js' %}"></script>
    <script src="{% static 'js/mmenu.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
