{% extends 'layouts/app.html' %}

{% block content %}

    <section class="cars-section-four v1 layout-radius">
        <div class="boxcar-container">
            <div class="boxcar-title-three wow fadeInUp">
                <ul class="breadcrumb">
                    <li>
                        <a href="{% url 'base:home' %}">
                            Home
                        </a>
                    </li>
                    <li>
                        <span>
                            Hotel
                        </span>
                    </li>
                </ul>
                <h2>
                    Hotel
                </h2>
            </div>
            <div class="text-box">
                <div class="text">
                    Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ page_obj.paginator.count }} hotels
                </div>
                <form class="d-flex" method="get">
                    <div class="form_boxes v3" style="padding-right: 30px;">
                        <small>Filter by</small>
                        <div class="drop-menu">
                            <div class="select">
                                <span>{{ current_province|default:"Location" }}</span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                            <input type="hidden" name="province" id="province">
                            <ul class="dropdown" style="display: none;">
                                {% for province in provinces %}
                                    <li onclick="document.getElementById('province').value='{{ province }}'; this.closest('form').submit();">{{ province }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="form_boxes v3" style="padding-right: 30px;">
                        <small>Filter Stars</small>
                        <div class="drop-menu">
                            <div class="select">
                                <span>{{ current_stars|default:"Stars" }}</span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                            <input type="hidden" name="stars" id="stars">
                            <ul class="dropdown" style="display: none;">
                                {% for star in stars %}
                                    <li onclick="document.getElementById('stars').value='{{ star }}'; this.closest('form').submit();">{{ star }} stars</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row wow fadeInUp">
                {% for hotel in hotel_data %}
                    <div class="car-block-four col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image">
                                    <a href="{% url 'hotel:hotelRooms' %}">
                                        <img src="{{ hotel.image }}" alt="{{ hotel.instance.name }}" style="width: 329px; height: 220px;">
                                    </a>
                                </figure>
                                <span>Latest</span>
                                <a class="icon-box">...</a>
                            </div>
                            <div class="content-box">
                                <h6 class="title">
                                    <a href="{% url 'hotel:hotelRooms' %}">{{ hotel.instance.name }}</a>
                                </h6>
                                <div class="text">{{ hotel.instance.description|truncatechars:50 }}</div>
                                <ul>
                                    <li><i class="flaticon-gasoline-pump"></i>{{ hotel.instance.province }}</li>
                                    <li><i class="flaticon-speedometer"></i>{{ hotel.instance.stars }} Stars</li>
                                    <li><i class="flaticon-gearbox"></i>{{ hotel.instance.created_at|date:"Y" }}</li>
                                </ul>
                                <div class="btn-box">
                                    <span>${{ hotel.instance.price }}</span>
                                    <small>${{ hotel.instance.discount_price }}</small>
                                    <a href="{% url 'hotel:hotelRooms' %}" class="details">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="pagination-sec">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}&province={{ current_province }}&stars={{ current_stars }}" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.57983 5.99989C2.57983 5.7849 2.66192 5.56987 2.82573 5.4059L7.98559 0.24617C8.31382 -0.0820565 8.84598 -0.0820565 9.17408 0.24617C9.50217 0.574263 9.50217 1.10632 9.17408 1.43457L4.60841 5.99989L9.17376 10.5654C9.50185 10.8935 9.50185 11.4256 9.17376 11.7537C8.84566 12.0821 8.31366 12.0821 7.98544 11.7537L2.82555 6.59404C2.66176 6.42999 2.57983 6.21495 2.57983 5.99989Z" fill="#050B20"/>
                                        </svg> 
                                    </span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        {{ num }}
                                    </a>
                                </li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}&province={{ current_province }}&stars={{ current_stars }}">
                                        {{ num }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}&province={{ current_province }}&stars={{ current_stars }}" aria-label="Next">
                                    <span aria-hidden="true">
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g clip-path="url(#clip0_2880_6407)">
                                                <path d="M9.42017 6.00011C9.42017 6.2151 9.33808 6.43013 9.17427 6.5941L4.01441 11.7538C3.68618 12.0821 3.15402 12.0821 2.82592 11.7538C2.49783 11.4257 2.49783 10.8937 2.82592 10.5654L7.39159 6.00011L2.82624 1.43461C2.49815 1.10652 2.49815 0.574382 2.82624 0.246315C3.15434 -0.0820709 3.68634 -0.0820709 4.01457 0.246315L9.17446 5.40596C9.33824 5.57001 9.42017 5.78505 9.42017 6.00011Z" fill="#050B20"/>
                                            </g>
                                            <defs>
                                                <clipPath id="clip0_2880_6407">
                                                    <rect width="12" height="12" fill="white" transform="translate(12 12) rotate(-180)"/>
                                                </clipPath>
                                            </defs>
                                        </svg>    
                                    </span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="text">
                        Showing results {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }}
                    </div>
                </nav>
            </div>
        </div>
    </section>

{% endblock content %}