<footer class="boxcar-footer footer-style-one v2">
    <!--  Footer Bottom -->
    <div class="footer-bottom">
        <div class="inner-container">
            <div class="copyright-text wow fadeInUp">
                © {% now "Y" %} Pluto Booking. All rights reserved. Developed by <a href="https://www.nexcodes.dev/" target="_blank">NE<span style="color: red; font-weight: bold;">X</span>CODE</a>
            </div>
            <ul class="footer-nav wow fadeInUp" data-wow-delay="200ms">
                <li><a href="#" title="">Terms & Conditions</a></li>
                <li><a href="#">Privacy Notice</a></li>
            </ul>
        </div>
    </div>
</footer>