<div class="side-bar" style="background: #050B20;">
    <ul class="nav-list">
        <li>
            <a href="{% url 'user:dashboard' %}" style="font-size: 13px;">
                <img src="https://creativelayers.net/themes/boxcar-html/images/icons/dash1.svg" alt="">
                Dashboard
            </a>
        </li>
        <li>
            <a href="{% url 'user;roomBooking' %}" style="font-size: 13px;">
                <img src="https://creativelayers.net/themes/boxcar-html/images/icons/dash2.svg" alt="">
                Room Booking
            </a>
        </li>
        <li>
            <a href="#" style="font-size: 13px;">
                <img src="https://creativelayers.net/themes/boxcar-html/images/icons/dash3.svg" alt="">
                Car Booking
            </a>
        </li>
        <li>
            <a href="#" style="font-size: 13px;">
                <img src="https://creativelayers.net/themes/boxcar-html/images/icons/dash7.svg" alt="">
                My Profile
            </a>
        </li>
        <li>
            <a href="#" style="font-size: 13px;">
                <img src="https://creativelayers.net/themes/boxcar-html/images/icons/dash8.svg" alt="">
                Logout
            </a>
        </li>
    </ul>
</div>