<div class="contact-box">
    <div class="icon-box">
        {% with hotel.images.all|first as hotel_image %}
            {% if hotel_image %}
                <img src="{{ hotel_image.image.url }}" alt="{{ hotel.name }}" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
            {% else %}
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVQfxEyRp184pVTen_MQe-LEqhLZxhWAWj9A&s" alt="Default Hotel" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
            {% endif %}
        {% endwith %}
    </div>
    <div class="content-box">
        <h6 class="title">
            {{ hotel.name }}
        </h6>
        <div class="text">
            {{ hotel.address }}
        </div>
        <ul class="contact-list" style="margin-bottom: 10px !important;">
            <li>
                <a href="#">
                    <div class="image-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                            <path fill="#405FF2" d="m4.16 21.633l-.002.002l-.79.741l1.076.12a7.8 7.8 0 0 0 2.691-.199c.891-.234 1.828-.688 2.422-1.532c.786.154 1.604.235 2.443.235c6 0 11-4.184 11-9.5S18 2 12 2S1 6.184 1 11.5c0 3.236 1.866 6.065 4.668 7.77c-.086.471-.377.994-.723 1.462a8 8 0 0 1-.773.89z" />
                        </svg>
                    </div>
                    {{ hotel.email }}
                </a>
            </li>
        </ul>
        <ul class="contact-list" style="margin-bottom: 10px !important;">
            <li>
                <a href="#">
                    <div class="image-box">
                        <img src="https://creativelayers.net/themes/boxcar-html/images/resource/phone1-2.svg">
                    </div>
                    {{ hotel.phone_number }}
                </a>
            </li>
        </ul>
        <ul class="contact-list" style="margin-bottom: 10px !important;">
            <li>
                <a href="{{ hotel.email }}" target="_blank">
                    <div class="image-box">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                            <path fill="none" stroke="#405FF2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 15l6-6m-4-3l.463-.536a5 5 0 0 1 7.071 7.072L18 13m-5 5l-.397.534a5.07 5.07 0 0 1-7.127 0a4.97 4.97 0 0 1 0-7.071L6 11" />
                        </svg>
                    </div>
                    Visit Website
                </a>
            </li>
        </ul>
        <div class="btn-box">
            <a href="#" class="side-btn">
                Hotel Details
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14" fill="none">
                    <g clip-path="url(#clip0_881_7563)">
                        <path d="M13.6111 0H5.05558C4.84062 0 4.66668 0.173943 4.66668 0.388901C4.66668 0.603859 4.84062 0.777802 5.05558 0.777802H12.6723L0.113941 13.3362C-0.0379805 13.4881 -0.0379805 13.7342 0.113941 13.8861C0.189884 13.962 0.289415 14 0.38891 14C0.488405 14 0.5879 13.962 0.663879 13.8861L13.2222 1.3277V8.94447C13.2222 9.15943 13.3962 9.33337 13.6111 9.33337C13.8261 9.33337 14 9.15943 14 8.94447V0.388901C14 0.173943 13.8261 0 13.6111 0Z" fill="white"></path>
                    </g>
                    <defs>
                        <clippath id="clip0_881_7563">
                            <rect width="14" height="14" fill="white"></rect>
                        </clippath>
                    </defs>
                </svg>
            </a>
            <a href="#" class="side-btn two">
                Chat Via Whatsapp
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewbox="0 0 14 14" fill="none">
                    <g clip-path="url(#clip0_881_8744)">
                        <path d="M13.6111 0H5.05558C4.84062 0 4.66668 0.173943 4.66668 0.388901C4.66668 0.603859 4.84062 0.777802 5.05558 0.777802H12.6723L0.113941 13.3362C-0.0379805 13.4881 -0.0379805 13.7342 0.113941 13.8861C0.189884 13.962 0.289415 14 0.38891 14C0.488405 14 0.5879 13.962 0.663879 13.8861L13.2222 1.3277V8.94447C13.2222 9.15943 13.3962 9.33337 13.6111 9.33337C13.8261 9.33337 14 9.15943 14 8.94447V0.388901C14 0.173943 13.8261 0 13.6111 0Z" fill="#60C961"></path>
                    </g>
                    <defs>
                    <clippath id="clip0_881_8744">
                        <rect width="14" height="14" fill="white"></rect>
                    </clippath>
                    </defs>
                </svg>
            </a>
        </div>
    </div>
</div>