<div class="main-review-box">
    <div class="review-sec v2">
        <h4 class="title">Customer Reviews</h4>
        <div class="review-box">
            <div class="rating-box">
                <div class="content-box">
                    <span>Overall Rating</span>
                    <h3 class="title">{{ average_rating }}</h3>
                    <small>Out Of 5</small>
                </div>
            </div>
        </div>
    </div>

    <div class="reviews">
        {% for review in reviews %}
            <div class="content-box {% if forloop.counter > 1 %}two{% endif %}">
                <div class="auther-name">
                    <span>{{ review.user.name }}</span>
                    <h6 class="name">{{ review.user.name }}</h6>
                    <small>{{ review.created_at|date:"F Y" }}</small>
                </div>
                <div class="rating-list">
                    <ul class="list">
                        {% for i in "12345" %}
                            <li>
                                <i class="fa fa-star{% if forloop.counter > review.rating %}-o{% endif %}"></i>
                            </li>
                        {% endfor %}
                    </ul>
                    <span>{{ review.title }}</span>
                </div>
                <div class="text">
                    {{ review.review }}
                </div>
                <div class="btn-box">
                    <a href="#" class="like-btn">
                        <i class="fa-solid fa-thumbs-up"></i>Helpful
                    </a>
                    <a href="#" class="like-btn">
                        <i class="fa-solid fa-thumbs-down"></i>Not helpful
                    </a>
                </div>
            </div>
        {% empty %}
            <p>No reviews yet for this room.</p>
        {% endfor %}

        {% if reviews.count > 2 %}
            <a href="#" class="review">
                See more reviews
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none">
                    <path d="M14.1106 0H5.55509C5.34013 0 5.16619 0.173943 5.16619 0.388901C5.16619 0.603859 5.34013 0.777802 5.55509 0.777802H13.1719L0.613453 13.3362C0.461531 13.4881 0.461531 13.7342 0.613453 13.8861C0.689396 13.962 0.788927 14 0.888422 14C0.987917 14 1.08741 13.962 1.16339 13.8861L13.7218 1.3277V8.94447C13.7218 9.15943 13.8957 9.33337 14.1107 9.33337C14.3256 9.33337 14.4996 9.15943 14.4996 8.94447V0.388901C14.4995 0.173943 14.3256 0 14.1106 0Z" fill="#405FF2"/>
                </svg>
            </a>
        {% endif %}
    </div>
</div>