{% extends 'layouts/user.html' %}

{% block content %}
    <div class="inner-column">
        <div class="list-title">
            <h3 class="title">Change Password</h3>
            <div class="text">Lorem ipsum dolor sit amet, consectetur.</div>
        </div>
        <div class="gallery-sec">
            <div class="form-sec">
                <form class="row">  
                    <div class="col-lg-4">
                        <div class="form_boxes">
                            <label>Name</label>
                            <input name="name" type="text" placeholder="Current Password">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form_boxes">
                            <label>Email</label>
                            <input name="email" type="email" placeholder="New Password">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form_boxes">
                            <label>Phone</label>
                            <input name="phone" type="number" placeholder="Confirm New Password">
                        </div>
                    </div>
                    <div class="form-submit">
                        <button type="submit" class="theme-btn">
                            Update Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}