{% extends 'layouts/user.html' %}

{% block content %}
    <div class="inner-column">
        <div class="list-title">
            <h3 class="title">Change Password</h3>
            <div class="text">Lorem ipsum dolor sit amet, consectetur.</div>
        </div>
        <div class="gallery-sec">
            <div class="form-sec">
                <form method="POST" class="row">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="col-lg-4">
                        <div class="form_boxes">
                            {{ form.current_password.label_tag }}
                            {{ form.current_password }}
                            {{ form.current_password.errors }}
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form_boxes">
                            {{ form.new_password.label_tag }}
                            {{ form.new_password }}
                            {{ form.new_password.errors }}
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form_boxes">
                            {{ form.confirm_password.label_tag }}
                            {{ form.confirm_password }}
                            {{ form.confirm_password.errors }}
                        </div>
                    </div>

                    <div class="form-submit">
                        <button type="submit" class="theme-btn">Update Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}