{% extends 'layouts/user.html' %}

{% block content %}
    <div class="inner-column">
        <div class="list-title">
            <h3 class="title">Dashboard</h3>
            <div class="text">
                Welcome, {{ request.user.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-12">
                <div class="uii-item">
                    <span>My Listings</span>
                    <h3>43,279</h3>
                    <div class="ui-icon">
                        <img src="https://creativelayers.net/themes/boxcar-html/images/icons/cart1.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-12">
                <div class="uii-item">
                    <span>Total Saved Search</span>
                    <h3>19</h3>
                    <div class="ui-icon v2">
                        <img src="https://creativelayers.net/themes/boxcar-html/images/icons/cart2.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-12">
                <div class="uii-item">
                    <span>Messages</span>
                    <h3>15</h3>
                    <div class="ui-icon v3">
                        <img src="https://creativelayers.net/themes/boxcar-html/images/icons/cart3.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-12">
                <div class="uii-item">
                    <span>My Favorites</span>
                    <h3>22,786</h3>
                    <div class="ui-icon v4">
                        <img src="https://creativelayers.net/themes/boxcar-html/images/icons/cart4.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}