{% extends 'layouts/user.html' %}

{% block content %}
    <div class="inner-column">
        <div class="list-title">
            <h3 class="title">Dashboard</h3>
            <div class="text">Lorem ipsum dolor sit amet, consectetur.</div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-12">
                <div class="uii-item">
                    <span>My Listings</span>
                    <h3>43,279</h3>
                    <div class="ui-icon">
                        <img src="images/icons/cart1.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-12">
                <div class="uii-item">
                    <span>Total Saved Search</span>
                    <h3>19</h3>
                    <div class="ui-icon v2">
                        <img src="images/icons/cart2.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-12">
                <div class="uii-item">
                    <span>Messages</span>
                    <h3>15</h3>
                    <div class="ui-icon v3">
                        <img src="images/icons/cart3.svg" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-12">
                <div class="uii-item">
                    <span>My Favorites</span>
                    <h3>22,786</h3>
                    <div class="ui-icon v4">
                        <img src="images/icons/cart4.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="graph-content">
            <div class="row">
                <div class="col-xl-8">
                    <div class="widget-graph">
                        <div class="graph-head">
                            <h3>Car Page Views</h3>
                            <div class="text-box">
                                <div class="form_boxes v3">
                                    <small>Select Cars</small>
                                    <div class="drop-menu">
                                        <div class="select">
                                            <span>Audi A3</span>
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                        <input type="hidden" name="gender">
                                        <ul class="dropdown" style="display: none;">
                                            <li>Audi A3</li>
                                            <li>Audi A3</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form_boxes v3">
                                    <small>Date</small>
                                    <div class="drop-menu">
                                        <div class="select">
                                            <span>15 days</span>
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                        <input type="hidden" name="gender">
                                        <ul class="dropdown" style="display: none;">
                                            <li>15 days</li>
                                            <li>15 days</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content">
                            <canvas id="chart" width="100" height="45"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="notification-widget ls-widget">
                        <div class="widget-title">
                            <h4>Notifications</h4>
                        </div>
                        <div class="widget-content">
                            <ul class="notification-list">
                            <li><span class="icon"><img src="images/icons/lob1.svg" alt="" /></span> <strong>Wade Warren</strong> applied for a job <span class="colored">Web Developer</span></li>
                            <li><span class="icon"><img src="images/icons/lob2.svg" alt="" /></span> <strong>Henry Wilson</strong> applied for a job <span class="colored">Senior Product Designer</span></li>
                            <li class="success"><span class="icon"><img src="images/icons/lob3.svg" alt="" /></span> <strong>Raul Costa</strong> applied for a job <span class="colored">Product Manager, Risk</span></li>
                            <li><span class="icon"><img src="images/icons/lob1.svg" alt="" /></span> <strong>Jack Milk</strong> applied for a job <span class="colored">Technical Architect</span></li>
                            <li class="success"><span class="icon"><img src="images/icons/lob2.svg" alt="" /></span> <strong>Michel Arian</strong> applied for a job <span class="colored">Software Engineer</span></li>
                            <li><span class="icon"><img src="images/icons/lob3.svg" alt="" /></span> <strong>Ali Tufan</strong> applied for a job <span class="colored">UI Designer</span></li>
                            </ul>
                        </div>
                        <div class="dash-btn-box">
                            <a href="#" class="dash-btn">View More<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
                                <g clip-path="url(#clip0_634_2156)">
                                <path d="M13.6106 0H5.05509C4.84013 0 4.66619 0.173943 4.66619 0.388901C4.66619 0.603859 4.84013 0.777802 5.05509 0.777802H12.6719L0.113453 13.3362C-0.0384687 13.4881 -0.0384687 13.7342 0.113453 13.8861C0.189396 13.962 0.288927 14 0.388422 14C0.487917 14 0.587411 13.962 0.663391 13.8861L13.2218 1.3277V8.94447C13.2218 9.15943 13.3957 9.33337 13.6107 9.33337C13.8256 9.33337 13.9996 9.15943 13.9996 8.94447V0.388901C13.9995 0.173943 13.8256 0 13.6106 0Z" fill="white"></path>
                                </g>
                                <defs>
                                <clipPath id="clip0_634_2156">
                                    <rect width="14" height="14" fill="white"></rect>
                                </clipPath>
                                </defs>
                                </svg>
                            </a>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}