{% extends 'layouts/user.html' %}

{% block content %}
    <div class="inner-column">
        <div class="list-title">
            <h3 class="title">Profile</h3>
            <div class="text">Lorem ipsum dolor sit amet, consectetur.</div>
        </div>
        <div class="gallery-sec">
            <div class="right-box-three">
                <h6 class="title">Profile Image</h6>
                <div class="gallery-box">
                    <div class="inner-box">
                        <div class="image-box">
                            <img src="{{ request.user.image.url if request.user.image else 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' }}" style="width: 190px; height: 167px;">

                            <div class="content-box">
                                <ul class="social-icon">
                                    <li><a href="#"><img src="https://creativelayers.net/themes/boxcar-html/images/resource/delet.svg"></a></li>
                                    <li><a href="#"><img src="https://creativelayers.net/themes/boxcar-html/images/resource/delet1-1.svg"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="uplode-box">
                            <div class="content-box">
                                <a href="#">
                                    <img src="https://creativelayers.net/themes/boxcar-html/images/resource/uplode.svg">
                                    <span>Upload</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text">Max file size is 1MB, Minimum dimension: 330x300 And Suitable files are .jpg & .png</div>
                </div>
            </div>
            <div class="form-sec">
                <form class="row" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="col-lg-4">
                        <div class="form_boxes">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form_boxes">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form_boxes">
                            {{ form.phone_number.label_tag }}
                            {{ form.phone_number }}
                            {{ form.phone_number.errors }}
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form_boxes">
                            {{ form.image.label_tag }}
                            {{ form.image }}
                            {{ form.image.errors }}
                        </div>
                    </div>

                    <div class="form-submit">
                        <button type="submit" class="theme-btn">
                            Update Profile
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}